spring:
  application:
    name: discoveryserver
  config:
    import: optional:configserver:http://localhost:8888
  boot:
    admin:
      client:
        url: http://localhost:9090
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers
  endpoint:
    health:
      show-details: always