server:
  port: 8080
spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: theatre-service
              uri: lb://THEATRE-SERVICE
              predicates:
                - Path=/api/theatre/**
            - id: movie-service
              uri: lb://MOVIE-SERVICE
              predicates:
                - Path=/api/movies/**
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
