server:
  port: 0
spring:
  main:
    lazy-initialization: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Shashank@123
    url: jdbc:mysql://localhost:3306/auth_db?createDatabaseIfNotExist=true
    username: shashank
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    admin:
      fail-fast: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        spring.json.add.type.headers: false
        max.block.ms: 2000
        delivery.timeout.ms: 5000
        request.timeout.ms: 3000
    properties:
      # Slow down reconnection attempts
      reconnect.backoff.ms: 5000
      reconnect.backoff.max.ms: 30000
      retry.backoff.ms: 5000

      # Reduce metadata refresh spam
      metadata.max.age.ms: 600000
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
jwt:
  secret: tickebook_auth_jwt_super_secure_secret_2026_value