spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Shashank@123
    url: jdbc:mysql://localhost:3306/show_db?createDatabaseIfNotExist=true
    username: shashank
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 0